<!-- SVG References -->
<svg class="icon">
  <use xlink:href="#chevron"></use></svg
><svg class="icon">
  <use xlink:href="#clock"></use></svg
><svg class="icon">
  <use xlink:href="#computer"></use></svg
><svg class="icon">
  <use xlink:href="#converse"></use></svg
><svg class="icon">
  <use xlink:href="#easy"></use></svg
><svg class="icon">
  <use xlink:href="#growth"></use></svg
><svg class="icon">
  <use xlink:href="#line"></use></svg
><svg class="icon">
  <use xlink:href="#logo"></use></svg
><svg class="icon">
  <use xlink:href="#mdi_heart"></use></svg
><svg class="icon">
  <use xlink:href="#menu"></use></svg
><svg class="icon">
  <use xlink:href="#Nike"></use></svg
><svg class="icon">
  <use xlink:href="#quotes"></use></svg
><svg class="icon">
  <use xlink:href="#search"></use></svg
><svg class="icon">
  <use xlink:href="#settings"></use></svg
><svg class="icon">
  <use xlink:href="#simple-icons_adidas (1)"></use></svg
><svg class="icon">
  <use xlink:href="#simple-icons_handm (1)"></use></svg
><svg class="icon">
  <use xlink:href="#simple-icons_zara (1)"></use></svg
><svg class="icon">
  <use xlink:href="#simple-icons_zara (2)"></use>
</svg>
<svg class="icon">
  <use xlink:href="#snap"></use></svg
><svg class="icon">
  <use xlink:href="#tabler_circle-letter-e (1)"></use></svg
><svg class="icon">
  <use xlink:href="#tick"></use></svg
><svg class="icon">
  <use xlink:href="#wordpress"></use>
</svg>

<!-- SVG References -->
<svg class="icon">
  <use xlink:href="#formkit_visa (1)"></use></svg
><svg class="icon">
  <use xlink:href="#Group (1)"></use></svg
><svg class="icon">
  <use xlink:href="#hugeicons_paypal (1)"></use></svg
><svg class="icon">
  <use xlink:href="#iconoir_delivery-truck (1)"></use></svg
><svg class="icon">
  <use xlink:href="#logos_mastercard (1)"></use>
</svg>
